@import "accordions";
@import "avatar";
@import "borders";
@import "card";
@import "calendar";
@import "breadcrumb";
@import "button";
@import "tab";
@import "dropdown";
@import "datatables";
@import "form";
@import "icon";
@import "loader";
@import "alerts";
@import "sidebar.directive";
@import "img-cropper";
@import "smart.wizard";
@import "badges";
@import "modals";
@import "popover";
@import "rating";
@import "search";
@import "tagging";
@import "customizer";
@import "nouislider";
@import "toastr";
@import "upload";
@import "lists";
@import "pagination";
@import "carousel";
@import "progress";
@import "tabs";
@import "tour";
@import "calendar";
@import "echarts";
@import "vue-good-table";
@import "tag-input";
@import "echart";
@import "daterangepicker";